@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}
/* .text {
    background-color: #7ead39;
} */
span {
    font-weight: 700;
}
.btn {
    background-color: #7ead39;
    color: #ffffff;
    font-weight: 700;
    padding: 12px 23px;
}
.btn-secondary {
    padding: 12px 50px;
    background-color: #ffffff;
    font-weight: 800;
    letter-spacing: 2px;
}
.shop-now-secondary {
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: #dc3731;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 2px;
    font-size: 12px;
}
.btn,
.shop-now,
.btn-secondary {
    text-transform: uppercase;
    font-size: 15px;
    border: none;
}
.shop-now {
    letter-spacing: 1px;
}

.latest-products,
.latest-product-card,
.banners,
.footer {
    display: flex;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    margin-top: 50px;
    padding: 10px 100px;
    font-size: 13px;
}
.contacts a {
    text-decoration: none;
    color: #252525;
}
.socials-contact {
    display: flex;
    align-items: center;
}
/* .login a {
    margin-left: 15px;
} */
.socials-contact a {
    margin: 0px 15px;
}
.socials-contact-language {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 0px 15px;
}

.mail-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mail-contacts a {
    padding-right: 10px;
}
.contacts-shipping {
    border-left: 1px solid #dddddd;
    padding: 0px 10px;
}
.logo {
    position: relative;
}
.logo-img {
    position: absolute;
    z-index: 0;
    top: 5px;
    left: 8px;
}
.title-logo {
    position: relative;
    z-index: 3;
    font-size: 40px;
}
.main-navigation {
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigantion-links a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 2px;
    color: #252525;
    padding: 0 20px;
}
.navigantion-links a:hover {
    color: #7ead39;
}
.navigation-shopping {
    display: flex;
}
.navigation-shopping i {
    margin: 0 10px;
}
.shopping-icons {
    position: relative;
}
.shopping-icons:last-of-type {
    margin-right: 15px;
}
.shopping-number {
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 21px;
    font-size: 10px;
    background-color: #7ead39;
    color: #ffffff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 12px;
    vertical-align: middle;
    text-align: center;
}
.nav-price {
    font-size: 13px;
}
.side-navigation {
    margin-left: 100px;
    width: fit-content;
    float: left;
}
.side-nav-items {
    border: 1px solid #dddddd;
}
.side-nav-menu {
    padding: 10px 15px 10px 30px;
    background-color: #7ead39;
    color: #ffffff;
    text-align: justify;
}
.side-nav-menu span {
    padding: 10px 50px 10px 10px;
}
.side-nav-items-list li {
    list-style: none;
    padding: 5px 80px 10px 30px;
}
.search-and-phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px 0px 20px;
}
.search-bar {
    border: 1px solid #f5f5f5;
    padding: 0 0 0 20px;
    font-weight: 800;
}
.search-bar input {
    border: none;
    border-left: 1px solid #dddddd;
    padding: 0 200px 0 10px;
}
.search-bar a {
    text-decoration: none;
    color: #252525;
    padding-right: 10px;
}
.search-bar i {
    font-size: 12px;
    padding-left: 30px;
}
.phone-call {
    display: flex;
    align-items: center;
}
.phone-call i {
    color: #7ead39;
    font-size: 15px;
    background: #f5f5f5;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
}
.phone-call-text {
    text-align: right;
    margin-left: 15px;
    font-size: 15px;
    font-size: 13px;
}
.phone-call-text span {
    font-size: 18px;
}
.hero {
    height: 400px;
    margin: 20px 100px 20px 370px;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}
.hero-img {
    max-height: 100%;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.hero-text h4 {
    font-size: 1rem;
    color: #7ead39;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.hero-text h1 {
    font-size: 2.6rem;
    font-weight: 800;
    line-height: normal;
    margin: 15px 0;
}
.hero-text p {
    font-size: 1rem;
    color: #827070;
    margin-bottom: 30px;
}
.categories-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px 70px;
}
.categories-vertical a {
    border: 1px solid #dddddd;
    color: black;
    padding: 25px 10px;
    font-size: 10px;
}
.category-card {
    width: 250px;
    height: 250px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}
.category-card img {
    width: 75%;
}
.category-card > .btn-secondary {
    position: absolute;
    top: 85%;
    transform: translate(0, -50%);
}
.featured-products-title,
.blog > h3 {
    text-align: center;
    font-size: 2.5rem;
}
.featured-products-title {
    position: relative;
}
.featured-products-title::after {
    content: "";
    position: absolute;
    border-top: 3px solid #7ead39;
    left: 50%;
    bottom: -5px;
    margin-left: -25px;
    width: 70px;
    height: 0px;
}
.featured-products-list {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin-bottom: 30px;
}
.featured-products-list li {
    list-style: none;
    padding: 0px 30px;
    font-size: 1.1rem;
    font-weight: 500;
}
.featured-products-list a {
    text-decoration: none;
    color: black;
}
.featured-products-list a:hover {
    text-underline-offset: 30%;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #7ead39;
}
.featured-products-cards {
    margin: 0 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.product-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-price {
    font-weight: 700;
}
.img {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}
.img img,
.img-small img {
    object-fit: contain;
    width: 75%;
}
.banners {
    justify-content: space-around;
    margin: 50px 100px;
}
.first-banner {
    width: 500px;
    height: 200px;
    background-color: #cfefea;
    position: relative;
}
.second-banner {
    width: 500px;
    height: 200px;
    background-color: #f8ebcb;
    position: relative;
}
.banner-text {
    position: absolute;
    top: 40%;
    transform: translate(120%, -40%);
}
.banner-text h4 {
    font-size: 1.8rem;
}
.banner-text p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.banners img {
    position: relative;
    width: 150px;
    transform: translate(20%, 10%);
}
.img-small {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    width: 120px;
    height: 120px;
}
.latest-products {
    justify-content: space-between;
    margin: 0px 100px 20px 100px;
}
.latest-products-section-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.latest-products-section-title a {
    text-decoration: none;
    color: #252525;
}
.latest-products-section-title h4 {
    font-weight: 800;
    font-size: 1.3rem;
}
.latest-products-section-title i {
    font-size: 10px;
    padding: 7px 10px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 2px;
}
.latest-product-card {
    margin-bottom: 20px;
    margin-right: 50px;
}
.latest-product-card-text {
    margin-left: 20px;
}
.articles {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}
.blog {
    flex-direction: row;
}
.blog h3 {
    text-align: center;
    margin: 20px;
    position: relative;
}
.blog h3::after {
    content: "";
    position: absolute;
    border-top: 3px solid #7ead39;
    left: 50%;
    bottom: -5px;
    margin-left: -25px;
    width: 70px;
    height: 0px;
}
.blog-article {
    width: 350px;
    margin: 30px 0;
}
.blog-article img {
    width: 100%;
}
.published-date {
    color: #b6bbbc;
    margin: 20px 0 15px 0;
}
.blog-article-title {
    font-weight: 700;
    font-size: 1.2rem;
}

.blog-article-text {
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    color: #827070;
    margin: 10px 0;
}
.footer {
    background-color: #f5f5f5;
    padding: 50px 100px;
    justify-content: space-between;
}
.useful-links h5,
.subscription h5 {
    font-size: 1rem;
    padding-bottom: 10px;
}
.useful-links-list {
    display: flex;
    justify-content: space-between;
}

.useful-links-items li,
a {
    font-size: 0.9rem;
    font-weight: 500;
    color: #252525;
    text-decoration: none;
    list-style: none;
    padding: 5px 0;
}
.useful-links-items {
    padding-right: 30px;
}
address {
    font-style: normal;
}
.subscription input {
    padding: 10px 0px 10px 10px;
    border: none;
    /* border: 1px solid #f5f5f5; */
}
.subscription p {
    font-size: 0.9rem;
}
.email-subscription {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #b6bbbc;
    margin-top: 20px;
}
.main-adress address,
.main-adress p,
.main-adress a {
    font-size: 1rem;
    padding: 5px 0;
}
.socials {
    margin-top: 30px;
}
.socials i {
    border: 1px solid #b6bbbc;
    background: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}
.socials a {
    margin: 5px;
}
.socials a:first-child {
    margin-left: 0;
}
